@*
@model LucentDb.Domain.Entities.Test_Script

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr/>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScriptId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.TestId, id = Model.ScriptId}) |
    @Html.ActionLink("Back to List", "Index")
</p>