
@model LucentDb.Domain.Entities.RunHistory


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RunHistory</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})


        <div class="form-group">
            @Html.LabelFor(model => model.Id, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new {htmlAttributes = new {@class = "form-control k-textbox"}})

                @Html.ValidationMessageFor(model => model.Id, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScriptId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ScriptId, (SelectList) ViewBag.Scripts, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ScriptId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RunDateTime, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.RunDateTime, new {htmlAttributes = new {@class = "form-control k-textbox"}})

                @Html.ValidationMessageFor(model => model.RunDateTime, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPass, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsPass, new {htmlAttributes = new {@class = "form-control k-textbox"}})

                @Html.ValidationMessageFor(model => model.IsPass, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResultString, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResultString, new {htmlAttributes = new {@class = "form-control k-textbox"}})

                @Html.ValidationMessageFor(model => model.ResultString, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}