@using System.Collections
@using LucentDb.Domain.Entities
@model LucentDb.Domain.Entities.Test
@{
    var projectList = (IEnumerable<Project>) ViewBag.Projects;
    var projectName = projectList.First(p => p.ProjectId == Model.ProjectId);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <ul class="breadcrumb">
        <li>
            <a href="#">@projectName</a>
        </li>
        <li>
            <a href="#">Products</a>
        </li>
        <li class="active">Accessories</li>
    </ul>

    <div class="form-vertical">
        <h4 style="font-size: 40px">Test - @Model.Id</h4>
        <hr />


        <div class="form-group">
            <label for="txtName" class="control-label">Name</label>
            <div>
                <input type="text" class="form-control" id="txtName" placeholder="Name" value="@Model.Name">
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestValue, new { @class = "control-label" })
            <div>
                <textarea class="form-control" rows="3">@Model.TestValue</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestTypeId, new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.TestTypeId, (SelectList)ViewBag.TestTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TestTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.ProjectId, (SelectList)ViewBag.Projects, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.GroupId, (SelectList)ViewBag.TestGroups, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.IsActive)

                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" value="Cancel" onclick="location.href = '@Url.Action("Index")'"/>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}